@media (max-width: 1199px) {
  html {
    font-size: 9px;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 8px;
  }

  .webelive-img,
  .mission-img {
    height: 110vh;
  }

  .visible-lg {
    display: none;
  }
  .m-menu-link {
    display: block;
  }

}

@media (max-width: 640px) {
  html {
    font-size: 8px;
  }

  html h1 {
    font-size: 3rem !important;
  }
  .visible-lg {
    display: none;
  }
  .m-menu-link {
    display: block;
  }
  .mwebelive-container,
  .mission-container {
    flex-direction: column;
  }
  .webelive-img,
  .mission-img {
    display: none;
  }
  .webelive-text-container,
  .mission-text-container {
    width: 100%;
  }
  .headline-description {
    height: 70vh;
  }

  .contacts-headline {
    height: 30vh;
  }
}

@media (max-width: 340px) {
  html {
    font-size: 8px;
  }
}
