@media (max-width: 1199px) {
  html {
    font-size: 9px;
  }
}

@media (max-width: 1050px) {
  html {
    font-size: 8px;
  }
}

@media (max-width: 1010px) {
  html {
    font-size: 8px;
  }
}


@media (max-width: 991px) {
  html {
    font-size: 7px;
  }

  .webelieve-img,
  .mission-img {
    height: 110vh;
  }

  .languages {
    left: 52%;
    transform: translate(-50%, 0%);
  }
  .visible-lg {
    display: none;
  }
  .m-menu-link {
    display: block;
  }

}


@media (max-width: 640px) {
  html {
    font-size: 8px;
  }
  .visible-lg {
    display: none;
  }
  .m-menu-link {
    display: block;
  }

  .webelieve-img,
  .mission-img {
    display: none;
  }
  .webelieve-text-container,
  .mission-text-container {
    width: 100%;
  }
  .invitelink h1{
    font-size: 3rem;
  }

}

@media (max-width: 340px) {
  html {
    font-size: 10px;
  }
}

@media (max-width: 320px) {
  html {
    font-size: 6px;
  }
}





